.profile__subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 14px 0 0 0;
  padding: 0;
  text-align: center;
}

@media screen and (min-width: 880px) {
  .profile__subtitle {
    margin: 16px 0 0 0;
    display: flex;
    align-items: start;
    font-size: 18px;
    line-height: 22px;
  }
}