<<<<<<<< HEAD:blocks/popup-card/__button/popup-card__button.css
.popup-card__button {
========
.popup_card__button {
>>>>>>>> 3db28e7f2a642495ef6064e81edb08eac5f660b8:blocks/popup_card/__button/popup_card__button.css
  background: transparent;
  border: none;
  background-image: url(../../../images/submitButton320.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 238px;
  height: 46px;
  margin-top: 15px;
  cursor: pointer;
}

<<<<<<<< HEAD:blocks/popup-card/__button/popup-card__button.css
.popup-card__button:hover {
========
.popup_card__button:hover {
>>>>>>>> 3db28e7f2a642495ef6064e81edb08eac5f660b8:blocks/popup_card/__button/popup_card__button.css
  opacity: 0.8;
}

@media screen and (min-width: 880px) {
<<<<<<<< HEAD:blocks/popup-card/__button/popup-card__button.css
  .popup-card__button {
========
  .popup_card__button {
>>>>>>>> 3db28e7f2a642495ef6064e81edb08eac5f660b8:blocks/popup_card/__button/popup_card__button.css
    margin-top: 18px;
    padding: 0;
    background-image: url(../../../images/submitButton880.svg);
    width: 358px;
  }
}